html {
  scroll-behavior: smooth;
}

/* body 
 {
    height: 100%;
    margin: 0;
}*/

/*.main {
  position:absolute;
  height:100%;
  width: 100%;
    top: 0;
  left:0;
}*/

#section1 {
    position:absolute;
    bottom: 10px;
      height: 100%;
  width :100%;
  background-image: url('images/background.jpg');
  /*background-position: center;*/

  background-color: rgba(3,11,30, 0.9);
background-repeat: no-repeat;
background-size:100% 100%;
    transition: 3s;
}

#section2 {
      margin-top:200px;
    margin-right:34px;
    position:absolute;
    bottom: 10px;
  height: 0;
  width :100%;
  z-index: 1; /* Sit on top */
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(3,11,30, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 2s;
    /*background-image: url('images/background.jpg');*/
}

.landing {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.landingcontent {
position:relative;
top:300px;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
    transition: 3s ;
}

.arrow_button {
position:absolute;
text-align: center;
 bottom: 0; right: 50%;
  
}



#arrows {
  width: 75px;
  height: 65px;
}
  
#arrows:hover {
    
    polygon {
      fill: #FFF;
      transition: all .3s ease-in;

      &.arrow-bottom {
        transform: translateY(12px);
      }

      &.arrow-middle {
        transform: translateY(24px);
      }
      
    }
  
  }
  

polygon {
  fill: #FFF;
  transition: all .2s ease-in;
    
  &.arrow-bottom {
    opacity: 0.75;
  }

  &.arrow-middle {
    opacity: 0.5
  }
   
}



/* Type
----------------------------- */
.name {
  position: relative;
  z-index: 2;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.2em;
  font-weight: 200;
  font-family: "Tahoma";
  margin-bottom: 0;
  margin-top: 28px;
  text-transform: uppercase;
  color: white;
width: 100%;
  transition: width 3s ease;
}
.byline {
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font-family: "brandon-grotesque";
  font-size: 13px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase;
    color: white;
}

.aboutmeheader {
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font-family: "brandon-grotesque";
  font-size: 33px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase;
    color: white;
    opacity:0;
}

.aboutmecontent {
  margin-top: 2px;
  position: relative;
  z-index: 2;
  font-family: "brandon-grotesque";
  font-size: 13px;
  line-height: 2.2;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase;
    color: white;
   opacity:0;
}

.fadein {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3.5s;

}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Social Links
----------------------------- */
.social-links-large {
  position: absolute;
  opacity: 1;
  color: white;
  top:-10px;
  left:0;
  margin-left: 300px;
  z-index: 2;
  opacity: 0;
  display: none;
}

.email-large {
  position: relative;
  left:200px;
}
.linkedin-large {
  position: relative;
  left:150px;
}
.github-large {
  position: relative;
  left:50px;
}
.resume-large {
  position: relative;
    left:100px;
}


.social-links {
  position: relative;
  width: 475px;
  left: 50%;
  bottom: 0px;
  margin-left: -237px;
  padding: 0;
  list-style-type: none;
    z-index: 2;
}
.social-links > li {
  display: inline-block;
}
.social-link-item {
    opacity: .4;
}

.email-link:hover,
.email-link:focus {
  opacity: 1;
}
.social-link-item:hover{
  opacity: 1;
}
.social-link-item-twitter {
  margin-left: 0;
  width: 21px;
}
.social-link-item-linkedin {
  background-position: -41px 0;
  width: 59px;
}
.social-link-item-github {
  background-position: -40px 0;
  width: 18px;
}
.social-link-item-resume {
  background-position: -58px 0;
  width: 21px;
}


@media (max-width: 600px) {
  .name {
    font-size: 30px;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 400px) {
  .name {
    margin-top: 20px;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .byline {
    font-size: 12px;
    letter-spacing: 0.2em;
  }
  .wrapper-inner {
    margin-top: -20%;
  }
  .wrapper-inner:before {
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
  }
}
