
.key-anim1 {
  -webkit-animation: Drawpath 1s linear forwards;
  animation: Drawpath 1s linear forwards;
  stroke-dasharray: 0,100;
}
.key-anim2 {
  -webkit-animation: Drawpath 1s linear 1s forwards;
  animation: Drawpath 1s linear 1s forwards;
  stroke-dasharray: 0,100;
}
.key-anim3 {
  -webkit-animation: Drawpath 1s linear 2s forwards;
  animation: Drawpath 1s linear 2s forwards;
  stroke-dasharray: 0,100;
}

@-webkit-keyframes Drawpath {
  from {
    stroke-dasharray: 0,100;
  }
  to {
    stroke-dasharray: 100,100;
  }
}
@keyframes Drawpath {
  from {
    stroke-dasharray: 0,100;
  }
  to {
    stroke-dasharray: 100,100;
  }
}
